export TERMINAL="kitty"
export TERM="kitty"
# export TERMINAL="alacritty"
# export TERM="alacritty"

#zsh config dir
export ZDOTDIR=$HOME/.config/zsh

#Start safeeyes
/usr/bin/safeeyes &

# Reload theme
wal -R
# wal -e --theme base16-gruvbox-dark > /dev/null
