#Start safeeyes
#/usr/bin/safeeyes &

#xset r rate 210 50

# Reload theme
#wal -R

# wal -e --theme base16-gruvbox-dark > /dev/null

# xautolock -time 5 -locker "/home/linus/dotfiles/polybar/.config/polybar/scripts/lock_screen.sh" -detectsleep &
# ~/dotfiles/polybar/.config/polybar/scripts/set_random_background.sh

# set us layout with german umlauts, comma at the end is necessary to parse as list
setxkbmap de,us -variant us,

[-f ~/.xprofile.local ] && source ~/.xprofile.local
