-- see https://github.com/itchyny/calendar.vim for more info
vim.g.calendar_google_api_key = '...'
vim.g.calendar_google_client_id = '.apps.googleusercontent.com'
vim.g.calendar_google_client_secret = '...'
