-- Usage: Rename this file to "project_configs.local.lua" so it gets loaded
local M = {}

-- Set project path as key and the configuration function as value
-- This callback function will get called automatically when the current
-- working directory matches
-- Paths will be compared with vim.startswith(cwd, <your path>)
-- NOTE: Make sure to add a trailing / so the end of the path gets matched completely
M.configs = {
	["<Absolute project path>"] = function()
		vim.opt.expandtab = true
		vim.opt.relativenumber = true
	end,
	["<Another absolute project path>"] = function()
		vim.opt.expandtab = true
		vim.opt.relativenumber = true
		vim.opt.wrap = false
	end,
}

return M
